/* https://codepen.io/stasysiia/pen/pogJmYY + https://codepen.io/lorenzodossi/pen/gQWopP*/
@import url('https://fonts.googleapis.com/css?family=Urbanist');
@import url('https://fonts.googleapis.com/css?family=Lexend');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

a {
    color: inherit;
    text-decoration: none;
}

body {
    padding: 0 auto;
}

header {
    padding: 0 20px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
  
.grid-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    align-items: center;
    position: relative;
}

.index-header {
    grid-template-areas: "logo . . nav nav nav nav" ;
}

.admin-header {
    grid-template-areas: "logo . . . . nav nav";
}

.settings-header {
    grid-template-areas: "logo . . . . nav nav";
}

.grid-header img {
    grid-area: logo;
    width: 100%;
    height: auto;
}

.nav-bar {
    grid-area: nav;
    list-style: none;
    padding-left: 177px;
    margin-top: 40px;
}

.nav-bar ul>li:first-child {
    border-right: 1px solid #606060;
}

.nav-element {
    display: inline-block;
    padding: 15px 10px;
    color: #292929;
    text-align: left;
    font-size: 1.5rem;
}

.nav-element:hover {
    color: #606060;
}

.form .input {
    width: 215px;
    margin-bottom: 1rem;
}

.table-id {
    grid-area: id;
}

.table-issue {
    grid-area: issue;
}

.table-name {
    grid-area: name;
}

.table-progression {
    grid-area: progression;
}

.inquiry-progression {
    font-size: 1.15rem;
    padding: 0 10px;
    color: white
    
}

.user-information {
    padding-left: 5vw;
}

.information {
    font-size: 1rem;
}

.admin-nav ul>li:last-child {
    border: none;
}

.inquiry-management {
    padding-right: 100px;
}

.grid-container-6Columns {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.grid-container-5Columns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.grid-container-4Columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.grid-container-3Columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-container-2Columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.top-margin-50 {
    margin-top: 50px;
}

.top-margin-30 {
    margin-top: 30px;
}

.grid-cause {
    grid-template-areas: '. cause-1 cause-2 .';
}

.grid-box {
    grid-template-areas: '. box box .';
}

.grid-search {
    grid-template-areas: '. search setting .';
}

.grid-donation {
    grid-template-areas: 'picture picture donation donation';
}

.grid-order-summary {
    grid-template-areas: 'product_name product_quantity product_price total_summary'
}

.grid-personalNote {
    grid-template-areas: '. summary summary note note . ';
}

.note-summary {
    grid-area: summary;
}

.note {
    grid-area: note;
}  

.note-header {
    padding-top: 1rem;
    padding-left: 1rem;
}

.note-description {
    padding-left: 1rem;
}

.note-rightAlign {
    text-align: right;
}

.os_product_img {
    grid-area: product_img;
}

.os_product_name {
    grid-area: product_name;
}

.os_product_quantity {
    grid-area: product_quantity;
}

.os_product_price {
    grid-area: product_price;
}

.os_product_summary {
    grid-area: total_summary;
}

.os_product_rightAlign {
    float: right;
}

.os_product_makeCenter {
    padding-right: 3.5rem;
}

.grid-order-summary-checkout {
    grid-template-areas: 'product_img product_name product_quantity product_price total_summary'
}

.os_product_img {
    grid-area: product_img;
    width: 150px;
}

.grid-checkout {
    grid-template-areas: '. center .'
}

.checkout_img {
    width: 200px;
    grid-area: center;
}

.checkout_form {
    padding-left: 135px;
}

.long-input {
    width: 434px;
    margin-bottom: 1rem;
}

.note-input {
    width: 383px;
    margin-bottom: 1rem;
}

.description {
    height: 200px;
}

.submit-button {
    margin-left: 368px;
}

.donation-box {
    grid-area: donation;
}

.donation-img {
    grid-area: picture;
}

.relative-box {
    position: relative;
    height: 100vh;
}

.vertical-box {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    position: absolute;
}

.card {
    grid-area: box;
    position: relative;
    margin-bottom: 50px;
}

.date {
    color:#6e757c;
}

.search-box {
    grid-area: search;
    position: relative;
    margin-bottom: 50px;
}

.setting-tab {
    grid-area: setting;
    text-align: end;
}


.delete-button {
    position: absolute;
    right: 10px;
    color: red;
    cursor: pointer;
}

.track-id {
    position: absolute;
    right: 10px;
    color: #606060;
}


.flex-container {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.smaller-header {
    font-size: 2.5rem;
}

.white-text {
    color: #ffff;
}

#about-us {
    padding: 30px;
    background-color: #007367;
    text-align: center;
}


input[type="text"],input[type="password"],input[type="search"],input[type="submit"]  {
    font-family: 'Urbanist';
    padding-top: 5px;
    padding-bottom: 5px;
}


.grid-cause .cause-1 {
    grid-area: cause-1;
    max-width: 45vw;
    position: relative;
}

.grid-cause .cause-2 {
    grid-area: cause-2;
    max-width: 45vw;
    position: relative;
}

.grid-cause img {
    max-width: 40vw;
    border-radius: 30px;
}

.grid-cause .cause-layout {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 5%;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
    border-radius: 30px;
}

.grid-cause .cause-header {
    color: #FEF3A0;
    font-size: 1.25rem;
}

.Lexend {
    font-family: 'Lexend';
}

.Urbanist {
    font-family: 'Urbanist';
}

.grid-cause button {
    margin: 5% 0;
}

.grid-cause .progress-bar {    
    border-radius: 100px;
    width: inherit;
    height: 30px;
    background: rgba(125, 125, 125, 0.3);
}

.grid-cause .progress-value {
    box-shadow: 0 10px 40px -10px rgb(125, 125, 125);
    border-radius: 100px;
    width: 0;
    height: 30px;
    background-image: linear-gradient(145deg, #004773 30%, #007367 70%);

    &#first-donation {
        animation: load-for-first-donation 3s normal forwards;
    }
    
    &#second-donation {
        animation: load-for-second-donation 3s normal forwards;
    }
}

@keyframes load-for-first-donation {
    0% { width: 0; }
    100% { width: 46%; }
}

@keyframes load-for-second-donation {
    0% { width: 0; }
    100% { width: 79%; }
}

.achievements {
    padding: 10px 70px;
    background-color: #007367;
}

.achievements-heading {
    position: absolute;
    bottom: 110px;
    left: 835px;
    align-self: center;
    padding-bottom: 235px;
    
}

.achievements div.back-img {
    flex-direction: column;
    flex-grow: 1;
}

.achievements-header {
    color:#FEF3A0;
    text-align: left;
    padding-left: 0.5vw;
    font-size: 4.05rem;
}

.play-button {
    color: white;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 2vw;
    font-size: 4rem;
}

.header {
    font-size: 3.5rem;
}

.headerPadding-left {
    padding-left: 3rem;
}

.headerPadding-right {
    padding-right: 3rem;
}

.margin-left {
    margin-left: 3rem;
}

.font-size-2-75 {
    font-size: 2.75rem;
}

.font-size-1 {
    font-size: 1rem;
}

.smaller {
    font-size: 1.75rem;
}

#track .img {
    width: 20vw;
}

.align-center {
    text-align: center;
}

.align-left,.align-right {
    width: 49vw;
}

.status img {
    width: 20vw;
}

#login_inquiry .header {
    font-size: 4rem;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.middle {
    align-items: center;
}

.left-border {
    border-left: solid;
    color:#007367
}

.grid-footer {
    grid-template-areas: 'column1 column2 column3 column 4';
    background-color: #007367;
    padding: 20px 0;
}

.grid-footer .column1 {
    grid-area: column1;
    padding-left: 20px;
}

.grid-footer .column1 img{
    width: 60%;
    padding-right: 20px;
}

.grid-footer .motto {
    border-left: 1px solid white;
    color: white;
    padding-left: 20px;
    align-self: center;
    font-family: 'Urbanist';
}

.grid-footer .column2 {
    grid-area: column2;
    color: white;
    align-self: center;
}

.grid-footer .column3 {
    grid-area: column3;
    color: white;
    align-self: center;
}

.grid-footer .header {
    font-family: 'Lexend';
    font-size: 1.5rem;
    color:#FEF3A0;
}

.grid-footer ul {
    list-style: none;
}

.grid-footer li:hover {
    text-decoration: underline;
}

.hide {
    display: none;
}

.to-be-edited-progression:hover {
    color: red;
    text-decoration: line-through;
}

.to-be-edited-progression-header {
    text-decoration: line-through;
}


.colored_progression {
    padding: 0 20px;
    margin-left: 5px;
}

input[type='radio'] {
    accent-color: #292929;
}

.progression-Blue {
    background-color: #316cf4;
}

.progression-LightBlue {
    background-color: #5dc7ec;
    color: #292929;
}

.progression-Green {
    background-color: #408558;
}

.progression-Yellow {
    background-color: #f6c344;
    color: #292929;
}

.progression-Red {
    background-color: #cb444a;
}

.progression-Grey {
    background-color: #6e757c;
}



.popup-info {
    padding: 10px;
}

.option-in-popup {
    margin-left: 10px;
    margin-bottom: 4.5px;
    margin-top: 4.5px;
}

.width-25 {
    width: 25vw;
}

.shopping-cart-icon {
    margin-left: 90.75vw;
}

.fa-cart-shopping {
    font-size: 1.75rem;
    background-color: #007367;
    padding: 1rem;
    border-radius: 50px;
    color: #FEF3A0;
}

.bottom-margin-30 {
    margin-bottom: 30px;
}

.bottom-margin-50 {
    margin-bottom: 50px;
}

.bottom-margin-70 {
    margin-bottom: 70px;
}

#order-summary-border {
    max-width: 70vw;
    padding: 1rem;
    margin-left: 15vw;
    background: linear-gradient(to right, #004773, #007367);
    border-radius: 30px;
}

#order-summary {
    background: white;
    padding: 2rem;
    border-radius: 30px;
}

.user-id {
    color: #d9d9d9;
}

h2,h3,p {
    color:#292929;
}

.d-block {
    color: white;
}

.user-inquiry-info-leftAlign {
    padding-right: 12px;
}

.user-inquiry-info-rightAlign {
    padding-left: 127px;
}
