{% extends "layout.html" %}

{% block title %}
  Feline's Guardian | Submit an Inquiry
{% endblock %}

{% block body %}
  <section class="align-center bottom-margin-50">
    <h2 class="Urbanist">
      <span class="font-size-2-75">{{ inquiry }}<br></span>
      <span class="user-id">{{ id }}</span>
    </h2>
    <form class="form" action="/submit_inquiry" method="POST">
      
      {% if provide_more_info %}
        <input class="input" type="text" name="first_name" placeholder="First Name" required>
        <input class="input" type="text" name="last_name" placeholder="Last Name" required><br>
        <input class='long-input' type="password" name="password" placeholder="Password" required><br>
      {% endif %}
      <input class="long-input" type="text" name="info" placeholder="Additional Information" required minlength="10"><br>
      <p class="Urbanist">
        <span class="user-inquiry-info-leftAlign"><i class="fa-solid fa-user"></i> {{ first_name }} {{ last_name }}</span>
        <span class="user-inquiry-info-rightAlign"><i class="fa-solid fa-phone"></i> {{ telephone }}<br></span>
      </p>
      <input class='submit-button' type="submit" name="myButton">
    </form>
  </section>
{% endblock %}